<!DOCTYPE html>
<html>
<body>
<div th:fragment="footer">
    <footer id="site-footer">
        <div class="left-sec">
            <a href="#">Personal</a>&nbsp;|&nbsp;<a href="#">Small Business</a>&nbsp;|&nbsp;<a href="#">Business &#38; Public Sector</a>&nbsp;|&nbsp;<a href="#" class="active">liverton Wholesale</a>
        </div>

        <div class="right-sec">
            <a href="#" class="liverton logo"><img src="http://placehold.it/117x50&text=liverton" width="124" height="46" /></a>

            <div class="links">
                <a href="#">Legal Information</a>&nbsp;|&nbsp;<a href="#">Privacy Policy</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>