<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/feedback.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="navbar navbar-fixed-top" th:fragment="header">
   <div class="container">
        <!-- Static HTML templates -->
        <div id="logo">
            <a href="#" class="liverton logo">
                <img src="/images/logo.png" width="124" height="46" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active font-secundary"><a href="#" th:href="@{/feedback.html}">Feedback</a></li>
                <li class="active font-secundary"><a href="#" th:href="@{/feedbackList.html}">List Feedbacks</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/feedbackList.html}">Login</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>