<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="header">
    <header id="site-header">
        <a href="#" class="liverton logo">
            <img src="/images/logo.png"/>
        </a>

        <nav id="main-nav">
            <ul>
                <li><a href="#" th:href="@{/feedback.html}">FEEDBACK</a></li>
                <li><a href="#" th:href="@{/feedbackList.html}">FEEDBACK LIST</a></li>
                <li><a href="#">PRODUCTS</a></li>
                <li><a href="#">MENU 4</a></li>
                <li><a href="#">MENU 5</a></li>
            </ul>
        </nav>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/feedbackList.html}">Login</a></li>
            </ul>
        </div>

    </header>
</div>
</body>
</html>